.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    // bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;
    background: #fff url('/assets/images/reactium-background.jpeg') center/cover no-repeat center center fixed;

    &-figure {
        position: relative;
        width: 40.6vh; // 600px;
        height: 99vh; // 1440px;
        margin: 0 auto;

        img {
            display: block;
            position: absolute;
            max-height: 100%;
        }
    }
}
